<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <style>
      footer { position: fixed; bottom: 0; width: 100%; background-color: #f8f9fa; text-align: center}
    </style>

  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Y</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
  </body>

  <footer>
  <div class="container">
    <p>Copyright</p>
    <div>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </div>
  </div>
</footer>

</html>
